@import "../../../main";

$cubeFrontColor1: #76dee5;
$cubeFrontColor2: #42b2b4;
$cubeBotColor1: #48a2ad;
$cubeBotColor2: #3994a0;
$cubeRightColor1: #319caa;
$cubeRightColor2: #37929e;

$cubeSize: 100px;

div {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  z-index: 1;
  width: $widthWrapper1440;
  margin: 0 auto;
  height: calc(100vh - 160px);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-wrapper {
  width: calc(100% - 40px);
  margin: auto;
  display: flex;
}

.game-container {
  width: 100%;
  height: calc(100vh - 160px - 80px);
  display: grid;
  grid-template-areas:
    "pawns    pawns"
    "player1  board"
    "player2  board";
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: 1fr 9fr;
  background: linear-gradient(to bottom right, #a4c5c7, #2d3f48);
  // background: linear-gradient(to bottom right, $colorBg, $colorBg2);
}

.pawns {
  grid-area: pawns;
}

.board-wrapper {
  grid-area: board;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  perspective: 900px;
}

.current-player {
  grid-area: player1;
}

.second-player {
  grid-area: player2;
}

// ---
.board {
  width: 46vh;
  height: 46vh;
  backface-visibility: visible;
  overflow: visible;
  transform-style: preserve-3d;
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  // grid-gap: 25px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.board-field {
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(10px);
  cursor: pointer;
  transition: 0.25s all ease-in-out;

  &:hover {
    transform: translateZ(-1px);
  }
}

.board-cube {
  position: absolute;
}

.board-cube-front,
.board-cube-back {
  width: 10vh;
  height: 10vh;
}

.board-cube-right,
.board-cube-left {
  width: 20px;
  height: 10vh;
  left: calc(5vh - 10px);
}

.board-cube-top,
.board-cube-bottom {
  width: 10vh;
  height: 20px;
  top: calc(5vh - 10px);
}

.board-cube-front {
  transform: rotateY(0deg) translateZ(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #cbfeff, transparent),
    linear-gradient(to bottom, $cubeFrontColor1, $cubeFrontColor2);
  background-size: 1px 100%, auto;
  background-repeat: no-repeat;
}
.board-cube-back {
  transform: rotateY(180deg) translateZ(10px);
}

.board-cube-right {
  transform: rotateY(90deg) translateZ(5vh);
  background-image: linear-gradient(to bottom, #b7fcfd, transparent),
    linear-gradient(to bottom, $cubeRightColor1, $cubeRightColor2);
  background-size: 1px 100%, auto;
  background-repeat: no-repeat;
}
.board-cube-left {
  transform: rotateY(-90deg) translateZ(5vh);
}

.board-cube-top {
  transform: rotateX(90deg) translateZ(5vh);
}
.board-cube-bottom {
  transform: rotateX(-90deg) translateZ(5vh);
  background-image: linear-gradient(to bottom, #9ee6e7, transparent),
    linear-gradient(to bottom, $cubeBotColor1, $cubeBotColor2);
  background-size: 1px 100%, auto;
  background-repeat: no-repeat;
}

.board.first-perspective {
  transform: translateZ(-10px) rotateX(60deg) rotateZ(45deg);
}

.board.second-perspective {
  transform: translateZ(-60px) rotateX(55deg) rotateZ(45deg);
}

// ---
@media (max-width: $widthWrapper1440) {
  .wrapper {
    width: $widthWrapper1024;
  }
}

@media (max-width: $widthWrapper1024) {
  .wrapper {
    width: $widthWrapper768;
  }
}

@media (max-width: $widthWrapper768) {
  .wrapper {
    width: 100vw;
  }
}
